@import "variables";
@import "placeholders";
@import "inner_pages_navbar";
@import "footer";
@import "accordion";
@import "inner-search-box";
@import "nice_select";

// Start Header //
header {
  direction: ltr;
  margin-top: 1em;

  .banner {
    width: 100%;
  }
}

// End Header //

// Start Search Box //
.inner-search-box {
  .holder {
    .box-tabs {
      border: none;
      position: relative;
      z-index: 1;

      .search-box-overlay, .edge {
        position: absolute;
        height: 100%;
        border-radius: 15px;
        top: 0;
        right: 0;
        width: 100%;
      }

      .search-box-overlay {
        z-index: 3;
        background-color: $bg-color-third;
      }

      .edge {
        background-color: $bg-color-second;
        z-index: 2;
        right: -20px;
      }

      .tabs {
        position: relative;
        z-index: 4;
        width: 50% !important;

        &:last-of-type {
          border-left: none;
          border-right: 0;
          width: 50%;
          margin: 0;
          background-color: #FFF;
          transition: all .5s;

          &:hover {
            background-color: #FFF;
          }
        }
      }
    }
  }
}

// End Search Box //

// Start Cards Box //
.global-content {
  margin: 3em 0;

  .holder {
    //padding: 0 5em;
    .right {
      margin-right: auto;
      margin-left: auto;
    }

    .left {
      margin: 0 auto;
      //padding: 0 3em;

      .title-box {
        display: flex;
        flex-flow: row nowrap;

        .title {
          font-size: 25px;
          font-weight: bold;
        }

        .sections-number {
          margin: 4px 8px 0 0;
          font-size: 18px;
        }
      }

      .all-cards {
        .one-card {
          align-items: center;

          .logo-box {
            text-align: right;
            margin: 0 auto;

            .card-image {
              width: 95px;
              height: 95px;
              border-radius: 10px;
              border: 2px solid $bg-color-second;
            }
          }

          .content-box {
            display: flex;
            flex-flow: column wrap;

            h2, .companies-number {
              width: 100%;
              text-align: center;
              font-weight: bold;
              color: $font-color-second;
            }

            h2 {
              font-size: 1.4rem;
              margin: 0;
            }

            .companies-number {
              font-size: 20px;
            }
          }

          .left-box {
            margin: 0 auto;
            direction: ltr;

            .slick-list {
              width: 85px;
              margin: 0 auto;
            }

            .company-logo {
              width: 85px;
              outline: none;
            }
          }

          &:hover {
            box-shadow: $fixed-box-shadow-regular2;
            border: 2px solid $bg-color-main-hover;
          }
        }
      }
    }
  }
}

// End Cards Box //

// Start Media Query //
@media (max-width: 991px) {
  .all-cards {
    .one-card {
      .logo-box {
        margin-bottom: 0 !important;
        text-align: center !important;
      }

      .content-box {
        margin: 1rem 0;

        h2 {
          margin-top: 0 !important;
        }
      }
    }
  }

  .global-content {
    .holder {
      padding: 0 1em;

      .left {
        padding: 0 1em;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .global-content {
    margin: 3em 0;

    .holder {
      padding: 0 2em;

      .left {
        padding: 0;
      }
    }
  }
}

// End Media Query //
