@import "variables";
@import "placeholders";
@import "inner_pages_navbar";
@import "footer";
@import "accordion";
@import "inner-search-box";
@import "nice_select";

.stats__btn {
  display: block;
  width: 95%;
  margin: auto;
  background: $bg-color-main;
  color: $bg-color-second;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  height: 42px;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $bg-color-main;
    background-color: $bg-color-second;
  }

}

input.date {
  margin: 0;
  display: block;
  height: 42px;
  width: 100%;
  text-align: center;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  color: $bg-color-second;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $bg-color-main;
    background-color: $bg-color-second;
  }


}

// Start Header //
header {
  direction: ltr;
  margin-top: 1em;

  .banner {
    width: 100%;
  }
}

// End Header //

// Start Search Box //
.inner-search-box {
  .holder {
    .box-tabs {
      border: none;
      position: relative;
      z-index: 1;

      .search-box-overlay, .edge {
        position: absolute;
        height: 100%;
        border-radius: 15px;
        top: 0;
        right: 0;
        width: 100%;
      }

      .search-box-overlay {
        z-index: 3;
        background-color: $bg-color-third;
      }

      .edge {
        background-color: $bg-color-second;
        z-index: 2;
        right: -20px;
      }

      .tabs {
        position: relative;
        z-index: 4;
        width: 33%;

        &:last-of-type {
          border-left: none;
          border-right: 0;
          width: 34%;
          margin: 0;
          background-color: #FFF;
          transition: all .5s;
          border-radius: 12px;

          &:hover {
            background-color: #FFF;
          }
        }
      }
    }
  }
}

// End Search Box //

// Start Cards Box //
.global-content {
  margin: 3em 0;

  .holder {
    .right {
      margin-right: auto;
      margin-left: auto;
      //padding-right: 0;
    }

    .left {
      margin: 0 auto;

      .all-cards {
        .one-card {
          margin-top: 0;
          display: flex;
          align-items: center;
          padding: 1rem 0;

          .logo-box {
            text-align: right;
            margin: 0 auto;

            .card-image {
              width: 95px;
              height: 95px;
              border-radius: 10px;
              border: 2px solid $bg-color-second;
            }
          }

          .content-box {
            display: flex;
            flex-flow: column wrap;

            h2, .companies-number {
              width: 100%;
              text-align: center;
              font-weight: bold;
              color: $font-color-second;
            }

            h2 {
              font-size: 1.4rem;
              margin: 0;
              //margin-top: 2em;
            }
          }

          .left-box {
            margin: 0 auto;
            direction: ltr;

            .slick-list {
              //width: 150px;
              width: 85px;
              margin: 0 auto;
            }

            .company-logo {
              //width: 150px;
              width: 85px;
              outline: none;
            }
          }

          &:hover {
            box-shadow: $fixed-box-shadow-regular2;
            border: 2px solid $bg-color-main-hover;
          }
        }
      }
    }
  }
}

// End Cards Box //

// Start Media Query //
@media (max-width: 991px) {
  .all-cards {
    .one-card {
      .logo-box {
        margin-bottom: 0 !important;
        text-align: center !important;
      }

      .content-box {
        //margin: 3em 0;
        margin: 1rem 0;

        h2 {
          margin-top: 0 !important;
        }
      }
    }
  }

  .global-content {
    .holder {
      padding: 0 1em;

      .row {
        justify-content: center;

        .left {
          padding: 0 1em;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .global-content {
    margin: 3em 0;

    .holder {
      padding: 0 2em;

      .left {
        padding: 0;
      }
    }
  }
}

// End Media Query //
