@import "variables";
@import "placeholders";
@import "inner_pages_navbar";
@import "footer";
@import "accordion";
@import "inner-search-box";
@import "nice_select";

.stats__btn {
  display: block;
  width: 95%;
  margin: auto;
  background: $bg-color-main;
  color: $bg-color-second;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  height: 42px;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $bg-color-main;
    background-color: $bg-color-second;
  }

}

input.date {
  margin: 0;
  display: block;
  height: 42px;
  width: 100%;
  text-align: center;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  color: $bg-color-second;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $bg-color-main;
    background-color: $bg-color-second;
  }


}

// Start Header //

header {
  direction: ltr;
  margin-top: 1em;

  .banner {
    width: 100%;
  }
}

.chart__container {
  #chart, .chart-box {
    padding: 1.5rem 1rem;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
  }

  select.flat-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #008FFB url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'60px\' height=\'60px\'><polyline fill=\'white\' points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>") no-repeat scroll right 2px top 9px / 16px 16px;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-family: arial, tahoma;
    font-size: 16px;
    font-weight: bold;
    outline: 0 none;
    height: 33px;
    padding: 5px 20px 5px 10px;
    text-align: center;
    text-indent: 0.01px;
    text-overflow: "";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    width: auto;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  select.flat-select:focus, select.flat-select:hover {
    border: 0;
    outline: 0;
  }


  .apexcharts-canvas {
    margin: 0 auto;
  }

  #chart {
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background: #fff;
    color: #222;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px 17px;
    margin: 0 0.2rem;
  }

  button.active {
    color: $bg-color-main;
    background: $bg-color-second;
    border: 1px solid $bg-color-second;
    border-bottom: 2px solid $bg-color-second;
  }

  button:focus {
    outline: 0;
  }

}

// End Header //

// Start Search Box //

.inner-search-box {
  .holder {
    .box-tabs {
      border: none;
      position: relative;
      z-index: 1;

      .search-box-overlay, .edge {
        position: absolute;
        height: 100%;
        border-radius: 15px;
        top: 0;
        right: 0;
        width: 100%;
      }

      .search-box-overlay {
        z-index: 3;
        background-color: $bg-color-third;
      }

      .edge {
        background-color: $bg-color-second;
        z-index: 2;
        right: -20px;
      }

      .tabs {
        position: relative;
        z-index: 4;
        width: 50%;

        &:last-of-type {
          border-left: none;
          border-right: 0;
          width: 50%;
          margin: 0;
          background-color: #FFF;
          transition: all .5s;
          border-radius: 12px;

          &:hover {
            background-color: #FFF;
          }
        }
      }
    }
  }
}

// End Search Box //

// Start Accordion Section //

.right {
  display: none;
  margin: 3em auto 1em;
}

// End Accordion Section //

// -------------------------Start Table------------------------- //
.table {
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;

  .head, .rows {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .title, .data {
      width: 18%;
      text-align: center;
      padding: .5rem 0;
    }
  }

  .head {
    margin-bottom: 1em;

    .title {
      border-radius: 5px;
      border: 2px solid $bg-color-main;
      font-weight: bold;
      font-size: 1.2rem;

      @media (max-width: 767px) {
        font-size: 1rem;
      }

      @media (max-width: 500px) {
        font-size: .7rem;
      }
    }
  }

  .rows {
    box-shadow: $fixed-box-shadow-regular;
    border-radius: 5px;
    margin-bottom: 0.8rem;

    .data {
      .company-name {
        display: block;
        color: $font-color-second;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all .3s ease-in-out;
        margin-top: 0.3rem;

        &:hover {
          color: $bg-color-main-hover;
        }
      }

      .data__content {
        margin: 0.4rem auto;
      }

      .up {
        color: green;
      }

      .down {
        color: red;
      }

      &:hover .company-name {
        color: $bg-color-main-hover;
      }
    }

    .wall {
      height: 100%;
      width: 2px;
      background-color: $bg-color-second;
    }
  }
}

// Start Media Query //
@media (max-width: 991px) {
  .table {
    .head {
      .title {
        font-size: 1.2rem;
        width: 19%;
      }
    }

    .rows {
      .data {
        width: 19%;
      }
    }
  }
}

@media (max-width: 690px) {
  .table {
    .rows {
      .data {
        .company-name {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .table {
    .head {
      margin-bottom: .5em;

      .title {
        font-size: 1.2rem;
      }
    }

    .rows {
      .data {
        .data__content {
          font-size: 1.2rem;
        }

        .up, .down {
          margin-top: 12px;
        }
      }

      .company-name {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .table {
    .head {
      .title {
        font-size: 1rem;
      }

    }

    .rows {
      .data {
        h4 {
          font-size: 1rem;
        }

        h6 {
          font-size: .7rem;
        }
      }

      .companies-logo {
        width: 50px !important;
      }

      .company-name {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 500px) {
  .table {

    .head {
      .title {
        font-size: .9rem;
      }
    }

    .rows {
      .data {
        display: flex;
        align-items: center;

        .data__content {
          margin-top: 16px;
          font-size: 1rem;
          font-weight: bold;
        }

        .up, .down {
          margin-top: 6px;
        }
      }

      .company-name {
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 320px) {
  .table {

    .head {
      .title {
        font-size: .6rem;
      }
    }

    .rows {
      .data {
        padding: 5px 0;

        .data__content {
          margin-top: 16px;
          font-size: .65rem;
          font-weight: bold;
        }

        .up, .down {
          margin-top: 6px;
        }
      }

      .company-name {
        font-size: 9px;
      }
    }
  }
}

// End Media Query //
// -------------------------End------------------------- //
