/* ****************************Scroll BAR****************************** */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #9D9D9D; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFAA00;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(247, 125, 14, 0.7); }

/* ****************************Scroll BAR****************************** */
@font-face {
  font-family: 'bein';
  src: url("../fonts/beinNormal.ttf"); }

body {
  direction: rtl;
  text-align: right;
  font-family: "bein", sans-serif; }

/* ----------- Start Loading Screen ----------- */
.loading-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading-screen .chicken-loader {
    background: url("../images/loader.gif");
    height: 300px;
    width: 300px;
    /* Bird Wattle */ }

/* ----------- End Loading Screen ----------- */
/* ---------- Start Button to top ----------- */
.btn_top {
  position: fixed;
  bottom: 10px;
  right: -60px;
  z-index: 99;
  border: none !important;
  outline: none !important;
  background-color: #FFAA00;
  cursor: pointer;
  padding: 20px 25px 20px;
  opacity: .9;
  transition: all .3s ease-in-out; }
  .btn_top .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg); }
  .btn_top:hover {
    background-color: #d48f04;
    opacity: 1;
    transform: translate(0, -5px); }

/* ---------- End Button to top ----------- */
/* ---------- Start Global ----------- */
html {
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  font-family: "bein", sans-serif;
  direction: rtl;
  color: #1f6b00; }

a {
  text-decoration: none !important;
  line-height: 1.5 !important; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.regular-cards {
  border: 2px solid #FFAA00;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 2em 1em;
  margin: 1em 0 1rem;
  transition: all .5s;
  display: flex;
  flex-flow: row nowrap; }
  .regular-cards .content-box {
    margin: 0 auto; }

.cards {
  border: 2px solid #FFAA00;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 3.5em 1em;
  margin: 1em 0 2em;
  transition: all .5s; }

/* ---------- Start Global Media Query ----------- */
@media (max-width: 991px) {
  .regular-cards {
    justify-content: center;
    flex-flow: column wrap;
    padding: 1em 0; } }

@media (min-width: 991px) {
  .container {
    max-width: 960px; } }

/* ---------- End Global Media Query ----------- */
/* ---------- End Global ----------- */
.dropdown-menu {
  border-radius: 10px;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0;
  left: -5%; }
  .dropdown-menu .dropdown-item {
    padding: 10px 0;
    text-align: center;
    font-weight: bold; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #F0F0F0; }
    .dropdown-menu .dropdown-item .active, .dropdown-menu .dropdown-item:active {
      background-color: #1a5302; }
    .dropdown-menu .dropdown-item:first-of-type {
      border-radius: 10px 10px 0 0; }
    .dropdown-menu .dropdown-item:last-of-type {
      border-radius: 0 0 10px 10px; }
  .dropdown-menu .dropdown-divider {
    margin: 0; }

.collapsing {
  transition-duration: 0s !important; }

.navbar {
  direction: rtl;
  background-color: #ffffff !important;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.08), 0px 1px 5px rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    width: 69px; }
  .navbar .collapse .navbar-nav {
    margin: 0 10px 0 0 !important; }
    .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #1f6b00;
      font-weight: bold; }
      .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
        background-color: #F0F0F0;
        border-radius: 10px; }
  .navbar .collapse form {
    background-color: #F0F0F0 !important;
    padding: 5px 10px 5px 0;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    height: 35px; }
    .navbar .collapse form .search-area, .navbar .collapse form .submit {
      border: none;
      outline: none;
      background-color: transparent; }
    .navbar .collapse form .search-area {
      width: 170px; }
    .navbar .collapse form .submit i {
      margin-top: 5px; }
  .navbar .collapse .sign-box {
    margin: 0 auto 0 0; }
    .navbar .collapse .sign-box a {
      color: #1f6b00;
      font-weight: bold;
      background-color: transparent;
      padding: 10px;
      border-radius: 20px;
      transition: all .2s;
      display: inline-block;
      margin-right: 10px; }
      .navbar .collapse .sign-box a:hover {
        background-color: #FFAA00; }
  .navbar .profile-box {
    margin: 0 auto 0 0; }
    .navbar .profile-box .dropdown-toggle {
      display: flex;
      flex-flow: row nowrap; }
      .navbar .profile-box .dropdown-toggle .profile-photo {
        width: 30px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-toggle h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-toggle::after {
        border: none; }
      .navbar .profile-box .dropdown-toggle .arrow {
        background-color: #FFAA00;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 1.2;
        margin-top: 5px; }
        .navbar .profile-box .dropdown-toggle .arrow .arrow-down {
          height: 15px;
          width: 15px; }
    .navbar .profile-box .dropdown-menu .dropdown-item {
      padding: 10px 20px; }
    .navbar .profile-box .dropdown-menu .dropdown-item-especial {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial .profile-photo {
        width: 50px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial:first-of-type:active {
        background-color: #F0F0F0; }

@media (max-width: 991px) {
  form .search-area {
    width: 95% !important; } }

@media (min-width: 991px) and (max-width: 1110px) {
  form .search-area {
    width: 50px !important; } }

@media (max-width: 1200px) {
  .navbar .collapse {
    text-align: center; } }

footer {
  background-color: #FFAA00;
  margin-top: 2em;
  padding-top: 2em;
  border-radius: 35px 0 0 0;
  direction: rtl; }
  footer .overlay {
    background-color: #1a5302;
    border-radius: 0 35px 0 0;
    padding: 2em 0 1em; }
    footer .overlay ul {
      text-align: right; }
      footer .overlay ul li {
        margin-bottom: 5px; }
        footer .overlay ul li a {
          color: #FFAA00;
          border-bottom: 1px solid transparent;
          display: inline-block !important; }
          footer .overlay ul li a:hover {
            border-bottom: 1px solid #FFAA00; }
      footer .overlay ul .title {
        color: #ffffff;
        font-size: 20px; }
    footer .overlay .media-box {
      margin-top: 15px;
      text-align: center; }
      footer .overlay .media-box img {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        transition: all .5s; }
        footer .overlay .media-box img:hover {
          transform: scale(1.05); }
      footer .overlay .media-box .google-play, footer .overlay .media-box .app-store {
        width: 180px;
        display: block;
        margin: 0 auto; }
      footer .overlay .media-box .social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center; }
        footer .overlay .media-box .social-media i {
          font-size: 35px;
          color: #ffffff;
          transition: all .5s; }
        footer .overlay .media-box .social-media .facebook i {
          margin-right: 10px; }
          footer .overlay .media-box .social-media .facebook i:hover {
            color: #507CBD; }
        footer .overlay .media-box .social-media .instagram i:hover {
          color: #DA7493; }
    footer .overlay h5 {
      margin-top: 1em;
      text-align: center;
      color: #ffffff; }

@media (max-width: 1200px) {
  footer ul {
    margin-bottom: 1em; }
    footer ul li {
      text-align: center; } }

.slider {
  padding: 0 0 3em; }
  .slider .holder {
    text-align: center; }
    .slider .holder .main-title {
      font-size: 2.1rem;
      font-weight: bold;
      margin-bottom: 1em;
      color: #FFAA00; }
      @media (max-width: 767px) {
        .slider .holder .main-title {
          font-size: 1.9rem; } }
    .slider .holder .partners-slider, .slider .holder .products-slider, .slider .holder .market-slider, .slider .holder .gallery-slider, .slider .holder .add-slider {
      direction: ltr;
      width: 100%;
      padding: 0 50px; }
      .slider .holder .partners-slider .item, .slider .holder .products-slider .item, .slider .holder .market-slider .item, .slider .holder .gallery-slider .item, .slider .holder .add-slider .item {
        outline: none;
        position: relative; }
        .slider .holder .partners-slider .item .logo-holder, .slider .holder .products-slider .item .logo-holder, .slider .holder .market-slider .item .logo-holder, .slider .holder .gallery-slider .item .logo-holder, .slider .holder .add-slider .item .logo-holder {
          width: 150px;
          border: 1px solid #FFAA00;
          padding: 30px 20px;
          border-radius: 40px;
          margin: 0 auto;
          display: block;
          outline: none; }
          .slider .holder .partners-slider .item .logo-holder img, .slider .holder .products-slider .item .logo-holder img, .slider .holder .market-slider .item .logo-holder img, .slider .holder .gallery-slider .item .logo-holder img, .slider .holder .add-slider .item .logo-holder img {
            width: 100%;
            transition: all .5s; }
          .slider .holder .partners-slider .item .logo-holder:hover img, .slider .holder .products-slider .item .logo-holder:hover img, .slider .holder .market-slider .item .logo-holder:hover img, .slider .holder .gallery-slider .item .logo-holder:hover img, .slider .holder .add-slider .item .logo-holder:hover img {
            transform: scale(1.09, 1.09); }
        .slider .holder .partners-slider .item .wall, .slider .holder .products-slider .item .wall, .slider .holder .market-slider .item .wall, .slider .holder .gallery-slider .item .wall, .slider .holder .add-slider .item .wall {
          height: 90px;
          width: 10px;
          background-color: #FFAA00;
          position: absolute;
          top: 25%;
          right: 0%; }
      .slider .holder .partners-slider .slick-dots, .slider .holder .products-slider .slick-dots, .slider .holder .market-slider .slick-dots, .slider .holder .gallery-slider .slick-dots, .slider .holder .add-slider .slick-dots {
        bottom: -50px;
        left: 0; }
        .slider .holder .partners-slider .slick-dots li button::before, .slider .holder .products-slider .slick-dots li button::before, .slider .holder .market-slider .slick-dots li button::before, .slider .holder .gallery-slider .slick-dots li button::before, .slider .holder .add-slider .slick-dots li button::before {
          color: #FFAA00 !important; }
      .slider .holder .partners-slider .slick-arrow, .slider .holder .products-slider .slick-arrow, .slider .holder .market-slider .slick-arrow, .slider .holder .gallery-slider .slick-arrow, .slider .holder .add-slider .slick-arrow {
        top: 45%; }
        .slider .holder .partners-slider .slick-arrow::before, .slider .holder .products-slider .slick-arrow::before, .slider .holder .market-slider .slick-arrow::before, .slider .holder .gallery-slider .slick-arrow::before, .slider .holder .add-slider .slick-arrow::before {
          color: #FFAA00;
          font-size: 2.6rem; }
      .slider .holder .partners-slider .slick-prev, .slider .holder .products-slider .slick-prev, .slider .holder .market-slider .slick-prev, .slider .holder .gallery-slider .slick-prev, .slider .holder .add-slider .slick-prev {
        left: 1%; }
      .slider .holder .partners-slider .slick-next, .slider .holder .products-slider .slick-next, .slider .holder .market-slider .slick-next, .slider .holder .gallery-slider .slick-next, .slider .holder .add-slider .slick-next {
        right: 3%; }

@media (max-width: 576px) {
  .slider .holder .partners-slider .item .wall {
    display: none; }
  .slider .holder .partners-slider .slick-dots li {
    margin: 0; }
  .slider .holder .partners-slider .slick-next {
    right: 7%; } }

.main-title {
  background-color: #FFAA00;
  border-radius: 20px 0 20px 0;
  display: inline-block;
  padding: 10px 35px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0; }

.cards {
  border: 2px solid #FFAA00;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  margin: 1em 0 2em;
  transition: all .5s; }

.holder {
  padding-top: 2em; }
  .holder .company-info, .holder .about-company, .holder .company-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #1f6b00;
    padding: 1.5em 2em; }
    .holder .company-info .image-holder, .holder .about-company .image-holder, .holder .company-details .image-holder {
      text-align: center;
      width: 100%;
      margin-top: 1em; }
      .holder .company-info .image-holder .company-image, .holder .about-company .image-holder .company-image, .holder .company-details .image-holder .company-image {
        width: 100px;
        border-radius: 0.8rem; }
    .holder .company-info p, .holder .about-company p, .holder .company-details p {
      width: 100%;
      font-size: 1.2rem;
      margin: .8em 0;
      text-align: center; }
    .holder .company-info .rate, .holder .about-company .rate, .holder .company-details .rate {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      line-height: 1; }
      .holder .company-info .rate .rating, .holder .about-company .rate .rating, .holder .company-details .rate .rating {
        direction: ltr;
        font-size: 25px; }
        .holder .company-info .rate .rating span, .holder .about-company .rate .rating span, .holder .company-details .rate .rating span {
          color: #FFAA00;
          cursor: pointer; }
      .holder .company-info .rate .raters-number, .holder .about-company .rate .raters-number, .holder .company-details .rate .raters-number {
        color: #757677;
        margin: 6.5px 10px 0 0; }
  .holder .about-company p {
    font-size: 1.2rem; }
  .holder .company-products, .holder .company-market, .holder .company-gallery, .holder .transport-cost {
    padding: 1.5em 2em; }
    .holder .company-products .main-title, .holder .company-market .main-title, .holder .company-gallery .main-title, .holder .transport-cost .main-title {
      margin: 0 auto;
      display: table; }
    .holder .company-products .slider, .holder .company-market .slider, .holder .company-gallery .slider, .holder .transport-cost .slider {
      padding: 0; }
      .holder .company-products .slider .slick-dots, .holder .company-market .slider .slick-dots, .holder .company-gallery .slider .slick-dots, .holder .transport-cost .slider .slick-dots {
        display: none !important; }
      .holder .company-products .slider .slick-arrow, .holder .company-market .slider .slick-arrow, .holder .company-gallery .slider .slick-arrow, .holder .transport-cost .slider .slick-arrow {
        top: 37%; }
      .holder .company-products .slider .slick-prev, .holder .company-market .slider .slick-prev, .holder .company-gallery .slider .slick-prev, .holder .transport-cost .slider .slick-prev {
        left: 0%; }
      .holder .company-products .slider .partners-slider .item .logo-holder, .holder .company-products .slider .products-slider .item .logo-holder, .holder .company-products .slider .market-slider .item .logo-holder, .holder .company-products .slider .gallery-slider .item .logo-holder, .holder .company-market .slider .partners-slider .item .logo-holder, .holder .company-market .slider .products-slider .item .logo-holder, .holder .company-market .slider .market-slider .item .logo-holder, .holder .company-market .slider .gallery-slider .item .logo-holder, .holder .company-gallery .slider .partners-slider .item .logo-holder, .holder .company-gallery .slider .products-slider .item .logo-holder, .holder .company-gallery .slider .market-slider .item .logo-holder, .holder .company-gallery .slider .gallery-slider .item .logo-holder, .holder .transport-cost .slider .partners-slider .item .logo-holder, .holder .transport-cost .slider .products-slider .item .logo-holder, .holder .transport-cost .slider .market-slider .item .logo-holder, .holder .transport-cost .slider .gallery-slider .item .logo-holder {
        border: none;
        padding: 0;
        font-weight: bold;
        font-size: 20px;
        color: #1f6b00; }
        .holder .company-products .slider .partners-slider .item .logo-holder img, .holder .company-products .slider .products-slider .item .logo-holder img, .holder .company-products .slider .market-slider .item .logo-holder img, .holder .company-products .slider .gallery-slider .item .logo-holder img, .holder .company-market .slider .partners-slider .item .logo-holder img, .holder .company-market .slider .products-slider .item .logo-holder img, .holder .company-market .slider .market-slider .item .logo-holder img, .holder .company-market .slider .gallery-slider .item .logo-holder img, .holder .company-gallery .slider .partners-slider .item .logo-holder img, .holder .company-gallery .slider .products-slider .item .logo-holder img, .holder .company-gallery .slider .market-slider .item .logo-holder img, .holder .company-gallery .slider .gallery-slider .item .logo-holder img, .holder .transport-cost .slider .partners-slider .item .logo-holder img, .holder .transport-cost .slider .products-slider .item .logo-holder img, .holder .transport-cost .slider .market-slider .item .logo-holder img, .holder .transport-cost .slider .gallery-slider .item .logo-holder img {
          border-radius: 20px;
          border: 1px solid #1a5302; }
        .holder .company-products .slider .partners-slider .item .logo-holder:hover img, .holder .company-products .slider .products-slider .item .logo-holder:hover img, .holder .company-products .slider .market-slider .item .logo-holder:hover img, .holder .company-products .slider .gallery-slider .item .logo-holder:hover img, .holder .company-market .slider .partners-slider .item .logo-holder:hover img, .holder .company-market .slider .products-slider .item .logo-holder:hover img, .holder .company-market .slider .market-slider .item .logo-holder:hover img, .holder .company-market .slider .gallery-slider .item .logo-holder:hover img, .holder .company-gallery .slider .partners-slider .item .logo-holder:hover img, .holder .company-gallery .slider .products-slider .item .logo-holder:hover img, .holder .company-gallery .slider .market-slider .item .logo-holder:hover img, .holder .company-gallery .slider .gallery-slider .item .logo-holder:hover img, .holder .transport-cost .slider .partners-slider .item .logo-holder:hover img, .holder .transport-cost .slider .products-slider .item .logo-holder:hover img, .holder .transport-cost .slider .market-slider .item .logo-holder:hover img, .holder .transport-cost .slider .gallery-slider .item .logo-holder:hover img {
          transform: none; }
      .holder .company-products .slider .gallery-slider .item a, .holder .company-market .slider .gallery-slider .item a, .holder .company-gallery .slider .gallery-slider .item a, .holder .transport-cost .slider .gallery-slider .item a {
        cursor: pointer; }
  .holder .modal {
    padding: 0; }
    .holder .modal .modal-dialog {
      max-width: 45%; }
      .holder .modal .modal-dialog .close {
        margin: -1rem 0 -1rem -1rem; }
      .holder .modal .modal-dialog .modal-body {
        direction: ltr; }
        .holder .modal .modal-dialog .modal-body .popup-slider {
          width: 90%; }
          .holder .modal .modal-dialog .modal-body .popup-slider .slick-track img {
            height: 500px;
            max-height: 500px; }
          .holder .modal .modal-dialog .modal-body .popup-slider .slick-arrow {
            z-index: 20;
            top: 45%; }
            .holder .modal .modal-dialog .modal-body .popup-slider .slick-arrow::before {
              font-size: 50px;
              color: #1a5302; }
          .holder .modal .modal-dialog .modal-body .popup-slider .slick-prev {
            left: -35px; }
          .holder .modal .modal-dialog .modal-body .popup-slider .slick-next {
            right: -5px; }
  .holder .transport-cost .transport-holder {
    padding: 1rem;
    text-align: center; }
    .holder .transport-cost .transport-holder .table {
      margin-top: 3em;
      display: flex;
      flex-flow: row wrap;
      color: #1f6b00; }
      .holder .transport-cost .transport-holder .table .select__categories {
        border-color: transparent; }
      .holder .transport-cost .transport-holder .table .head, .holder .transport-cost .transport-holder .table .rows {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; }
        .holder .transport-cost .transport-holder .table .head .title, .holder .transport-cost .transport-holder .table .head .data, .holder .transport-cost .transport-holder .table .rows .title, .holder .transport-cost .transport-holder .table .rows .data {
          width: 48%;
          text-align: center;
          padding: .6rem 0; }
        .holder .transport-cost .transport-holder .table .head .title, .holder .transport-cost .transport-holder .table .rows .title {
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center; }
      .holder .transport-cost .transport-holder .table .head {
        margin-bottom: 1em; }
        .holder .transport-cost .transport-holder .table .head .title {
          border-radius: 5px;
          border: 2px solid #FFAA00;
          font-weight: bold;
          font-size: 1.2rem; }
          @media (max-width: 767px) {
            .holder .transport-cost .transport-holder .table .head .title {
              font-size: 1rem; } }
          @media (max-width: 500px) {
            .holder .transport-cost .transport-holder .table .head .title {
              font-size: .7rem; } }
      .holder .transport-cost .transport-holder .table .rows {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        margin-bottom: 1em; }
        .holder .transport-cost .transport-holder .table .rows .data h4 {
          margin: 0.2rem auto; }
        .holder .transport-cost .transport-holder .table .rows .wall {
          height: 100%;
          width: 2px;
          background-color: #1a5302; }
    .holder .transport-cost .transport-holder .nice-select {
      background: #FFF;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      outline: none;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      border-radius: 0; }
      .holder .transport-cost .transport-holder .nice-select .list {
        text-align: center;
        min-width: 100%;
        width: auto;
        background: #FFF;
        height: 200px;
        padding: 0.5rem;
        overflow-y: auto; }
        .holder .transport-cost .transport-holder .nice-select .list .option {
          text-align: center; }
          .holder .transport-cost .transport-holder .nice-select .list .option:hover {
            background: #1a5302; }
        .holder .transport-cost .transport-holder .nice-select .list .focus {
          background-color: #1a5302;
          color: #FFAA00; }
        .holder .transport-cost .transport-holder .nice-select .list .selected {
          background-color: #1a5302;
          color: #FFAA00; }
        .holder .transport-cost .transport-holder .nice-select .list .option.selected.focus {
          background-color: #1a5302;
          color: #FFAA00; }
      .holder .transport-cost .transport-holder .nice-select:focus {
        outline: none;
        box-shadow: none; }
      .holder .transport-cost .transport-holder .nice-select:after {
        height: 10px;
        width: 10px;
        border-bottom: 2px solid #FFAA00;
        border-right: 2px solid #FFAA00;
        left: 12px;
        margin-top: 3px;
        right: 90%;
        top: 25%; }
    .holder .transport-cost .transport-holder .nice-select:hover {
      color: #FFAA00;
      background-color: #1a5302; }
    @media (max-width: 991px) {
      .holder .transport-cost .transport-holder .table .head .title {
        font-size: 0.9rem;
        width: 48%; }
      .holder .transport-cost .transport-holder .nice-select {
        font-size: 0.9rem;
        padding: 0 1rem; } }
    @media (max-width: 690px) {
      .holder .transport-cost .transport-holder .table .head {
        margin-bottom: .5em; }
        .holder .transport-cost .transport-holder .table .head .title {
          font-size: 1.2rem; }
      .holder .transport-cost .transport-holder .table .rows .data h4 {
        font-size: 1.2rem; } }
    @media (max-width: 600px) {
      .holder .transport-cost .transport-holder .table .head .title {
        font-size: 1.2rem; }
      .holder .transport-cost .transport-holder .table .rows .data h4 {
        font-size: 1.2rem; }
      .holder .transport-cost .transport-holder .table .rows .data h6 {
        font-size: .8rem; }
      .holder .transport-cost .transport-holder .table .rows .companies-logo {
        width: 50px !important; }
      .holder .transport-cost .transport-holder .table .rows .company-name {
        font-size: 1rem; } }
    @media (max-width: 500px) {
      .holder .transport-cost .transport-holder .table .head .title {
        font-size: .9rem; }
      .holder .transport-cost .transport-holder .table .rows .data {
        padding: 5px 0; }
        .holder .transport-cost .transport-holder .table .rows .data h4 {
          margin: 0.5rem auto;
          font-size: 0.8rem;
          font-weight: bold; }
      .holder .transport-cost .transport-holder .nice-select {
        font-size: 0.8rem;
        padding: 0; }
        .holder .transport-cost .transport-holder .nice-select:after {
          height: 8px;
          width: 8px;
          border-bottom: 2px solid #FFAA00;
          border-right: 2px solid #FFAA00;
          left: 12px;
          margin-top: 3px;
          right: 80%;
          top: 25%; } }
    @media (max-width: 320px) {
      .holder .transport-cost .transport-holder .table .head .title {
        font-size: .8rem; }
      .holder .transport-cost .transport-holder .table .rows .data {
        padding: 5px 0; }
      .holder .transport-cost .transport-holder .nice-select {
        font-size: 0.8rem;
        padding: 0; }
        .holder .transport-cost .transport-holder .nice-select:after {
          height: 8px;
          width: 8px;
          border-bottom: 2px solid #FFAA00;
          border-right: 2px solid #FFAA00;
          left: 12px;
          margin-top: 3px;
          right: 80%;
          top: 25%; } }
  .holder .company-details .address-box, .holder .company-details .contact-box {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 25px; }
    .holder .company-details .address-box i, .holder .company-details .contact-box i {
      font-size: 20px;
      margin-left: 10px; }
    .holder .company-details .address-box .addresses .address-title, .holder .company-details .address-box .addresses .contact-title, .holder .company-details .address-box .contacts .address-title, .holder .company-details .address-box .contacts .contact-title, .holder .company-details .contact-box .addresses .address-title, .holder .company-details .contact-box .addresses .contact-title, .holder .company-details .contact-box .contacts .address-title, .holder .company-details .contact-box .contacts .contact-title {
      color: #FFAA00;
      font-weight: bold; }
    .holder .company-details .address-box .addresses .address-content, .holder .company-details .address-box .addresses .contact-content, .holder .company-details .address-box .contacts .address-content, .holder .company-details .address-box .contacts .contact-content, .holder .company-details .contact-box .addresses .address-content, .holder .company-details .contact-box .addresses .contact-content, .holder .company-details .contact-box .contacts .address-content, .holder .company-details .contact-box .contacts .contact-content {
      color: #1f6b00;
      transition: all .5s; }
      .holder .company-details .address-box .addresses .address-content:hover, .holder .company-details .address-box .addresses .contact-content:hover, .holder .company-details .address-box .contacts .address-content:hover, .holder .company-details .address-box .contacts .contact-content:hover, .holder .company-details .contact-box .addresses .address-content:hover, .holder .company-details .contact-box .addresses .contact-content:hover, .holder .company-details .contact-box .contacts .address-content:hover, .holder .company-details .contact-box .contacts .contact-content:hover {
        color: #9D9D9D; }
    .holder .company-details .address-box .email, .holder .company-details .contact-box .email {
      font-size: 20px;
      color: #1f6b00;
      transition: all .5s;
      font-weight: bold; }
      .holder .company-details .address-box .email:hover, .holder .company-details .contact-box .email:hover {
        color: #9D9D9D; }
  .holder .company-details .social-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
    font-size: 20px; }
    .holder .company-details .social-box .social-holder {
      font-size: 30px; }
      .holder .company-details .social-box .social-holder a {
        margin-right: 5px; }
        .holder .company-details .social-box .social-holder a i {
          color: #9D9D9D;
          transition: all .5s; }
      .holder .company-details .social-box .social-holder .web i:hover {
        color: #F2D383; }
      .holder .company-details .social-box .social-holder .facebook i:hover {
        color: #507CBD; }
      .holder .company-details .social-box .social-holder .instagram i:hover {
        color: #DA7493; }

@media (max-width: 1200px) {
  .modal .modal-dialog {
    max-width: 60% !important; } }

@media (max-width: 950px) {
  .modal .modal-dialog {
    max-width: 80% !important; } }

@media (max-width: 700px) {
  .modal .modal-dialog {
    max-width: 95% !important; } }

@media (max-width: 499px) {
  .company-products, .company-market, .company-gallery {
    padding: 1.5em 0em !important; }
    .company-products .slider .slick-arrow, .company-market .slider .slick-arrow, .company-gallery .slider .slick-arrow {
      display: none !important; }
  .modal .modal-dialog {
    max-width: 95% !important; }
    .modal .modal-dialog .modal-body {
      direction: ltr; }
      .modal .modal-dialog .modal-body .popup-slider {
        width: 90%; }
        .modal .modal-dialog .modal-body .popup-slider img {
          height: 300px !important;
          max-height: 300px !important; }
        .modal .modal-dialog .modal-body .popup-slider .slick-arrow::before {
          display: none; }
  .holder .popup-overlay .popup-transport .popup-content .popup-content-head .title {
    font-size: 18px; }
  .holder .popup-overlay .popup-transport .popup-content .popup-content-row .content {
    font-size: 18px; } }
