.dropdown-menu {
  border-radius: 10px;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0;
  left: -5%; }
  .dropdown-menu .dropdown-item {
    padding: 10px 0;
    text-align: center;
    font-weight: bold; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #F0F0F0; }
    .dropdown-menu .dropdown-item .active, .dropdown-menu .dropdown-item:active {
      background-color: #1a5302; }
    .dropdown-menu .dropdown-item:first-of-type {
      border-radius: 10px 10px 0 0; }
    .dropdown-menu .dropdown-item:last-of-type {
      border-radius: 0 0 10px 10px; }
  .dropdown-menu .dropdown-divider {
    margin: 0; }

.collapsing {
  transition-duration: 0s !important; }

.navbar {
  direction: rtl;
  background-color: #ffffff !important;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.08), 0px 1px 5px rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    width: 69px; }
  .navbar .collapse .navbar-nav {
    margin: 0 10px 0 0 !important; }
    .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #1f6b00;
      font-weight: bold; }
      .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
        background-color: #F0F0F0;
        border-radius: 10px; }
  .navbar .collapse form {
    background-color: #F0F0F0 !important;
    padding: 5px 10px 5px 0;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    height: 35px; }
    .navbar .collapse form .search-area, .navbar .collapse form .submit {
      border: none;
      outline: none;
      background-color: transparent; }
    .navbar .collapse form .search-area {
      width: 170px; }
    .navbar .collapse form .submit i {
      margin-top: 5px; }
  .navbar .collapse .sign-box {
    margin: 0 auto 0 0; }
    .navbar .collapse .sign-box a {
      color: #1f6b00;
      font-weight: bold;
      background-color: transparent;
      padding: 10px;
      border-radius: 20px;
      transition: all .2s;
      display: inline-block;
      margin-right: 10px; }
      .navbar .collapse .sign-box a:hover {
        background-color: #FFAA00; }
  .navbar .profile-box {
    margin: 0 auto 0 0; }
    .navbar .profile-box .dropdown-toggle {
      display: flex;
      flex-flow: row nowrap; }
      .navbar .profile-box .dropdown-toggle .profile-photo {
        width: 30px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-toggle h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-toggle::after {
        border: none; }
      .navbar .profile-box .dropdown-toggle .arrow {
        background-color: #FFAA00;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 1.2;
        margin-top: 5px; }
        .navbar .profile-box .dropdown-toggle .arrow .arrow-down {
          height: 15px;
          width: 15px; }
    .navbar .profile-box .dropdown-menu .dropdown-item {
      padding: 10px 20px; }
    .navbar .profile-box .dropdown-menu .dropdown-item-especial {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial .profile-photo {
        width: 50px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial:first-of-type:active {
        background-color: #F0F0F0; }

@media (max-width: 991px) {
  form .search-area {
    width: 95% !important; } }

@media (min-width: 991px) and (max-width: 1110px) {
  form .search-area {
    width: 50px !important; } }

@media (max-width: 1200px) {
  .navbar .collapse {
    text-align: center; } }
