/* ****************************Scroll BAR****************************** */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #9D9D9D; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFAA00;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(247, 125, 14, 0.7); }

/* ****************************Scroll BAR****************************** */
@font-face {
  font-family: 'bein';
  src: url("../../Front_End/fonts/beinNormal.ttf"); }

body {
  direction: rtl;
  text-align: right;
  font-family: "bein", sans-serif; }

/* ----------- Start Loading Screen ----------- */
.loading-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading-screen .chicken-loader {
    background: url("../images/loader.gif");
    height: 300px;
    width: 300px;
    /* Bird Wattle */ }

/* ----------- End Loading Screen ----------- */
/* ---------- Start Button to top ----------- */
.btn_top {
  position: fixed;
  bottom: 10px;
  right: -60px;
  z-index: 99;
  border: none !important;
  outline: none !important;
  background-color: #FFAA00;
  cursor: pointer;
  padding: 20px 25px 20px;
  opacity: .9;
  transition: all .3s ease-in-out; }
  .btn_top .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg); }
  .btn_top:hover {
    background-color: #d48f04;
    opacity: 1;
    transform: translate(0, -5px); }

/* ---------- End Button to top ----------- */
/* ---------- Start Global ----------- */
html {
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  font-family: "bein", sans-serif;
  direction: rtl;
  color: #1f6b00; }

a {
  text-decoration: none !important;
  line-height: 1.5 !important; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.regular-cards {
  border: 2px solid #FFAA00;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 2em 1em;
  margin: 1em 0 1rem;
  transition: all .5s;
  display: flex;
  flex-flow: row nowrap; }
  .regular-cards .content-box {
    margin: 0 auto; }

.cards {
  border: 2px solid #FFAA00;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 3.5em 1em;
  margin: 1em 0 2em;
  transition: all .5s; }

/* ---------- Start Global Media Query ----------- */
@media (max-width: 991px) {
  .regular-cards {
    justify-content: center;
    flex-flow: column wrap;
    padding: 1em 0; } }

@media (min-width: 991px) {
  .container {
    max-width: 960px; } }

/* ---------- End Global Media Query ----------- */
/* ---------- End Global ----------- */
.dropdown-menu {
  border-radius: 10px;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0;
  left: -5%; }
  .dropdown-menu .dropdown-item {
    padding: 10px 0;
    text-align: center;
    font-weight: bold; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #F0F0F0; }
    .dropdown-menu .dropdown-item .active, .dropdown-menu .dropdown-item:active {
      background-color: #1a5302; }
    .dropdown-menu .dropdown-item:first-of-type {
      border-radius: 10px 10px 0 0; }
    .dropdown-menu .dropdown-item:last-of-type {
      border-radius: 0 0 10px 10px; }
  .dropdown-menu .dropdown-divider {
    margin: 0; }

.collapsing {
  transition-duration: 0s !important; }

.navbar {
  direction: rtl;
  background-color: #ffffff !important;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.08), 0px 1px 5px rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    width: 69px; }
  .navbar .collapse .navbar-nav {
    margin: 0 10px 0 0 !important; }
    .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #1f6b00;
      font-weight: bold; }
      .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
        background-color: #F0F0F0;
        border-radius: 10px; }
  .navbar .collapse form {
    background-color: #F0F0F0 !important;
    padding: 5px 10px 5px 0;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    height: 35px; }
    .navbar .collapse form .search-area, .navbar .collapse form .submit {
      border: none;
      outline: none;
      background-color: transparent; }
    .navbar .collapse form .search-area {
      width: 170px; }
    .navbar .collapse form .submit i {
      margin-top: 5px; }
  .navbar .collapse .sign-box {
    margin: 0 auto 0 0; }
    .navbar .collapse .sign-box a {
      color: #1f6b00;
      font-weight: bold;
      background-color: transparent;
      padding: 10px;
      border-radius: 20px;
      transition: all .2s;
      display: inline-block;
      margin-right: 10px; }
      .navbar .collapse .sign-box a:hover {
        background-color: #FFAA00; }
  .navbar .profile-box {
    margin: 0 auto 0 0; }
    .navbar .profile-box .dropdown-toggle {
      display: flex;
      flex-flow: row nowrap; }
      .navbar .profile-box .dropdown-toggle .profile-photo {
        width: 30px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-toggle h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-toggle::after {
        border: none; }
      .navbar .profile-box .dropdown-toggle .arrow {
        background-color: #FFAA00;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 1.2;
        margin-top: 5px; }
        .navbar .profile-box .dropdown-toggle .arrow .arrow-down {
          height: 15px;
          width: 15px; }
    .navbar .profile-box .dropdown-menu .dropdown-item {
      padding: 10px 20px; }
    .navbar .profile-box .dropdown-menu .dropdown-item-especial {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial .profile-photo {
        width: 50px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial h6 {
        color: #1f6b00;
        margin: 5px 5px 0;
        font-weight: bold; }
      .navbar .profile-box .dropdown-menu .dropdown-item-especial:first-of-type:active {
        background-color: #F0F0F0; }

@media (max-width: 991px) {
  form .search-area {
    width: 95% !important; } }

@media (min-width: 991px) and (max-width: 1110px) {
  form .search-area {
    width: 50px !important; } }

@media (max-width: 1200px) {
  .navbar .collapse {
    text-align: center; } }

footer {
  background-color: #FFAA00;
  margin-top: 2em;
  padding-top: 2em;
  border-radius: 35px 0 0 0;
  direction: rtl; }
  footer .overlay {
    background-color: #1a5302;
    border-radius: 0 35px 0 0;
    padding: 2em 0 1em; }
    footer .overlay ul {
      text-align: right; }
      footer .overlay ul li {
        margin-bottom: 5px; }
        footer .overlay ul li a {
          color: #FFAA00;
          border-bottom: 1px solid transparent;
          display: inline-block !important; }
          footer .overlay ul li a:hover {
            border-bottom: 1px solid #FFAA00; }
      footer .overlay ul .title {
        color: #ffffff;
        font-size: 20px; }
    footer .overlay .media-box {
      margin-top: 15px;
      text-align: center; }
      footer .overlay .media-box img {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        transition: all .5s; }
        footer .overlay .media-box img:hover {
          transform: scale(1.05); }
      footer .overlay .media-box .google-play, footer .overlay .media-box .app-store {
        width: 180px;
        display: block;
        margin: 0 auto; }
      footer .overlay .media-box .social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center; }
        footer .overlay .media-box .social-media i {
          font-size: 35px;
          color: #ffffff;
          transition: all .5s; }
        footer .overlay .media-box .social-media .facebook i {
          margin-right: 10px; }
          footer .overlay .media-box .social-media .facebook i:hover {
            color: #507CBD; }
        footer .overlay .media-box .social-media .instagram i:hover {
          color: #DA7493; }
    footer .overlay h5 {
      margin-top: 1em;
      text-align: center;
      color: #ffffff; }

@media (max-width: 1200px) {
  footer ul {
    margin-bottom: 1em; }
    footer ul li {
      text-align: center; } }

.settings {
  direction: ltr;
  margin: 3em 0;
  color: #1f6b00; }
  .settings .holder i {
    font-size: 20px;
    margin-top: 7px; }
  .settings .holder h3, .settings .holder h4 {
    font-weight: bold; }
  .settings .holder .titles {
    border-bottom: 1.5px solid #1a5302;
    margin: 0 20px;
    padding-bottom: .5em;
    flex-wrap: nowrap; }
    .settings .holder .titles h3 {
      text-align: center; }
  .settings .holder .title-right h3 {
    text-align: right; }
  .settings .holder .content {
    text-align: center; }
    .settings .holder .content .left-content {
      border-right: 1.5px solid;
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0 2em; }
      .settings .holder .content .left-content .basics .change-img {
        position: relative;
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer; }
        .settings .holder .content .left-content .basics .change-img .overlay {
          position: absolute;
          z-index: 2;
          width: 150px;
          height: 150px;
          background-color: rgba(0, 0, 0, 0.4);
          top: 100%;
          left: 0;
          transition: all .5s;
          border-radius: 50%; }
          .settings .holder .content .left-content .basics .change-img .overlay i {
            color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-size: 40px;
            text-shadow: 2px 2px 1px black; }
        .settings .holder .content .left-content .basics .change-img img {
          position: relative;
          z-index: 1;
          width: 150px;
          height: 150px;
          border: 3px solid #1a5302;
          border-radius: 50%;
          padding: 3px; }
        .settings .holder .content .left-content .basics .change-img:hover .overlay {
          top: 0%; }
      .settings .holder .content .left-content .basics h3 {
        color: #9D9D9D;
        margin-top: .5em; }
      .settings .holder .content .left-content .basics form {
        margin-top: 2em;
        width: 50%;
        margin: 2em auto 0; }
        .settings .holder .content .left-content .basics form h4 {
          text-align: right; }
        .settings .holder .content .left-content .basics form .boxes {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          border-radius: 5px;
          border: 2px solid #1a5302;
          padding: 0 10px;
          margin-bottom: 2em; }
          .settings .holder .content .left-content .basics form .boxes input {
            width: 90%;
            border: none;
            background-color: transparent;
            direction: rtl;
            padding: 0;
            height: 45px;
            outline: none; }
          .settings .holder .content .left-content .basics form .boxes .email, .settings .holder .content .left-content .basics form .boxes .date {
            font-family: Arial, Helvetica, sans-serif; }
          .settings .holder .content .left-content .basics form .boxes a {
            width: 10%;
            color: #9D9D9D;
            margin-top: 10px;
            transition: all .2s;
            cursor: pointer; }
            .settings .holder .content .left-content .basics form .boxes a:hover {
              color: #1f6b00; }
        .settings .holder .content .left-content .basics form .submit {
          width: 100%;
          height: 45px;
          margin-top: 10px;
          background-color: #FFAA00;
          color: #1f6b00;
          font-size: 20px;
          font-weight: bold;
          border: none;
          box-shadow: 0px 4px 5px #ddd;
          border-radius: 5px;
          display: none; }
          .settings .holder .content .left-content .basics form .submit:hover {
            background-color: #d48f04; }
    .settings .holder .content .right-content {
      padding: 0; }
      .settings .holder .content .right-content .nav {
        margin-top: 1em; }
        .settings .holder .content .right-content .nav .nav-link {
          color: #1f6b00;
          font-weight: bold;
          border-radius: 15px;
          padding: 10px;
          margin: 15px 20px 0;
          display: flex;
          flex-flow: row nowrap;
          font-size: 20px;
          transition: all .3s;
          direction: rtl; }
          .settings .holder .content .right-content .nav .nav-link i {
            margin: 3px 0 0 10px; }
          .settings .holder .content .right-content .nav .nav-link:hover {
            color: #FFAA00;
            background-color: #1a5302; }
        .settings .holder .content .right-content .nav .active {
          color: #FFAA00;
          background-color: #1a5302; }

@media (max-width: 1255px) {
  .settings .holder .content .right-content .nav .nav-link {
    flex-flow: row wrap;
    justify-content: center; }
  .settings .holder .content .right-content .nav i {
    width: 100%; } }

@media (max-width: 992px) {
  .settings .titles .title-right i {
    text-align: center; }
  .settings .left-content .basics form {
    width: 100% !important; }
  .settings .right-content .nav .nav-link {
    margin: 15px 0 0 !important;
    justify-content: center !important;
    width: 45px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .settings .right-content .nav .nav-link i {
      margin: 0 !important; } }

@media (max-width: 500px) {
  .settings .holder .content .left-content {
    padding-right: 10px;
    padding-left: 10px; }
    .settings .holder .content .left-content .basics .change-img .overlay {
      width: 100px;
      height: 100px; }
      .settings .holder .content .left-content .basics .change-img .overlay i {
        font-size: 30px; }
    .settings .holder .content .left-content .basics .change-img img {
      width: 100px;
      height: 100px; }
    .settings .holder .content .left-content .basics h3 {
      font-size: 20px; }
    .settings .holder .content .left-content .basics form h4 {
      font-size: 18px; }
    .settings .holder .content .left-content .basics form .boxes input {
      font-size: 14px;
      width: 75%; }
    .settings .holder .content .left-content .basics form .boxes a {
      width: 25%; } }
